*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif !important;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 500 !important;
}
a{
    text-decoration: none;
    transition: all 0.5s ease;
    font-weight: 800;
}
img{
    width: 100%;
}
.navbar{
    box-shadow: 0 12px 20px rgba(0,0,0,0.1);
}

section{
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 224, 254, 0.7), rgba(17, 7, 254, 0.7));
    z-index: -1;
}
.bg-cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.hero-section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 
#home h1{
    font-family: 'Lilita One', cursive;
}

.btn{
    padding: 14px 22px !important;
}
.btn-main{
    background: linear-gradient(to right,#00e0fe, #1107fe) !important;
    color: white !important;
    border-radius: 100px !important;
    border: none !important;
    font-weight: 600 !important;
    color: 600 !important;
}
.btn:hover{
    transform: translateY(-5px) !important;
}
.section-intro{
    margin-bottom: 40px;
}
.section-intro p{
    font-weight: bold;
}
.divider{
    height: 5px;
    width: 100px;
    background: linear-gradient(to right,#00e0fe, #1107fe);
    margin: 10px auto;
}

.service .service-img{
    position: relative;
}
.service .service-img .icon{
    width: 90px;
    height: 90px;
    background: linear-gradient(to right,#00e0fe, #1107fe);
    color: #fff;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
}
.service .service-img .icon i{
    font-size: 36px;
}

.feature i{
    background: -webkit-linear-gradient(#00e0fe, #1107fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 54px;
}

.review {
    box-shadow: 0 12px 12px rgba(0,0,0,0.1);
}
.review .person {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.07);
    padding-bottom: 18px;
}

.review .person img {
    width: 75px;
    height: 75px;
    border-radius: 100px;
}

.review .stars {
    color: orange;
}

form .form-control {
    border-radius: 0;
    background: transparent;
    color: #fff;
    border-color: rgba(255, 255, 255, 0.5);
}

form .form-control:focus {
    color: #fff;
    background: transparent;
    border-color: #fff;
}

form input.form-control {
    height: 54px;
}

form .form-control::placeholder {
    color: #fff;
}

footer {
    background: linear-gradient(to right,#00e0fe, #1107fe);
    color: #fff;
}

footer a {
    color: #fff;
}




